.main-wrapper {
  margin: 40px;
  margin-bottom: 100px;
  background-color: white;
  padding: 30px;
  text-align: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);

  h1 {
    font-family: "Benedict";
    position: relative;
    font-size: 5vw;
    margin-bottom: 30px;
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 25px;
    }
    td,
    th {
      padding: 5px;
    }
    td {
      font-size: 10px;
    }
    th {
      font-size: 15px;
    }
  }

  h1:after {
    content: "";
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    width: 30%;
    height: 2px;
    background-color: black;
    transform: translateX(-50%);
  }
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

table {
  border-spacing: 10px 10px;
  overflow: auto;
  display: inline-block;
  border-collapse: separate;
}

th,
td {
  padding: 10px;
}

td {
  font-size: 1.25rem;
  text-align: center;
  color: black;
  background-color: #8ddbe8;
  border-radius: 5px;
  line-height: 1.4;
}

td:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

/* tr:hover {
    background-color: #f2f2f2;
  } */
th {
  font-size: 1.5rem;
  border-radius: 5px;

  &:not(:first-child) {
    background-color: #86b499;
  }

  line-height: 1.4;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}
