<app-header>
</app-header>

<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>

<footer>
  <div class="footer-container">
    <div class="club-name"><span>Viédanse</span></div>
    <div>
      <ul>
        <li>
          <a
            href="https://www.facebook.com/Vi%C3%A9danse-408449902890289/"
            target="_social_facebook"
            class="overflow-hidden relative w-30 h-30 md:w-50 md:h-50 rounded-full border flex items-center justify-center transition-colors duration-500 hover:text-theme-bg hover:border-theme-fg text-theme-fg"
            ><div class="svg-container">
              <svg
                width="51"
                height="51"
                viewBox="0 0 51 51"
                class="relative pointer-events-none w-full h-full"
                ><path
                  fill="var(--svgcolor)"
                  d="M6.821 20v-9h2.733L10 7H6.821V5.052C6.821 4.022 6.848 3 8.287 3h1.458V.14A16.136 16.136 0 0 0 7.226 0c-2.646 0-4.3 1.657-4.3 4.7V7H0v4h2.923v9z"
                  transform="translate(20.5 15.5)"
                /></svg>
            </div></a>
        </li>
      </ul>
    </div>
  </div>
</footer>