<div class="main-wrapper">
  <div class="main-box">
    <div class="underline">
      <h1>Evènements 2021 - 2022</h1>
    </div>
    <!-- <div class="box">
        <h2>Ateliers</h2>
      <ul>
        <li>
            11 Janvier 2020 :
            4 - 5 ans : 14 h au Pôle | Atelier Cuisine
        </li>
      </ul>
    </div>
    <div class="box">
        <h2>Spectacles</h2>
        <ul>
          <li>
              11 Janvier 2020 :
              4 - 5 ans : 14 h au Pôle | Atelier Cuisine
          </li>
        </ul>
      </div> -->

    <div class="box">
      <h2>Reprise des cours</h2>
      <ul>
        <li>Mercredi 20 septembre 2023</li>
      </ul>
    </div>
  </div>
</div>
<app-footer></app-footer>
