
<div class="photo-wrapper">
	<div class="content-desc">
	  <div class="text">
		l'Association Viédanse est née il y a trois ans, Bénédicte Duhamel est la
		professeur diplômée d'état, elle a effectué sa formation à Paris avec Mr
		Kechana Sadok à l'espace pleiade ainsi qu'au studio Rick Odums. Elle
		enseigne la danse modern-jazz aux enfants à partir de 4 ans jusqu'aux
		adultes, sur la commune de Saint Gatien des bois ainsi qu'à Honfleur, à la salle Carnot.
		<br><br>
		Les membres de l’association : 
		<ul>
		  <li>Christine Turmet-Présidente</li>
		  <li>Karine Crunelle</li>
		  <li>Christine Serre</li>
		</ul>
	  </div>
	</div>
  </div>