<div class="table-container">
  <table>
    <tbody>
      <tr>
        <th>Lundi</th>
        <th colspan="3">Mercredi</th>
        <th colspan="2">Jeudi</th>
        <th>Vendredi</th>
      </tr>
      <tr>
        <td>test</td>
        <td>test1</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
      </tr>
      <tr>
        <td>test</td>
        <td>test1</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
      </tr>
      <tr>
        <td>test</td>
        <td>test1</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
      </tr>
      <tr>
        <td>test</td>
        <td>test1</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
      </tr>
      <tr>
        <td>test</td>
        <td>test1</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
      </tr>
      <tr>
        <td>test</td>
        <td>test1</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
      </tr>
      <tr>
        <td>test</td>
        <td>test1</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
      </tr>
      <tr>
        <td>test</td>
        <td>test1</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
      </tr>
      <tr>
        <td>test</td>
        <td>test1</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
      </tr>
      <tr>
        <td>test</td>
        <td>test1</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
        <td>test2</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <div class="table-container">
  <table>
    <tbody>
      <tr>
        <th>Âge</th>
        <th>Cours</th>
        <th>Lundi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
      </tr>
      <tr *ngFor="let cour of cours">
        <td>{{ cour.age }}</td>
        <td>{{ cour.libelle }}</td>
        <td>
          <ng-container *ngFor="let horaire of cour.lundi">
            {{ horaire }}<br />
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let horaire of cour.mercredi">
            {{ horaire }}<br />
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let horaire of cour.jeudi">
            {{ horaire }}<br />
          </ng-container>
        </td>
        <td>
          <ng-container *ngFor="let horaire of cour.vendredi">
            {{ horaire }}<br />
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
