
<div class="table-container">
	<table>
	  <tbody
		><tr>
		  <th>Âge</th>
		  <th> Mercredi </th>
		  <th> Jeudi</th>
		  <th> Vendredi </th>
		</tr>
		<tr>
		  <td>4 - 5 ans </td>
		  <td>
			11h - 12h ( Honfleur salle Carnot )<br />
		  </td>
		  <td>_</td>
		  <td>_</td>
		</tr>
		<tr>
		  <td>6 - 7 ans </td>
		  <td> 14h30 - 15h30 ( St Gatien ) </td>
		  <td>_</td>
		  <td>_</td>
		</tr>
		<tr>
		  <td> 8 - 9 ans </td>
		  <td> 10h - 11h ( Honfleur salle Carnot )</td>
		  <td>_</td>
		  <td>_</td>
		</tr>
		<tr>
		  <td> 10 - 11 ans </td>
		  <td> 17h - 18h ( Honfleur salle Carnot ) </td>
		  <td>_</td>
		  <td>_</td>
		</tr>
		<tr>
		  <td> 12 - 13 ans </td>
		  <td> 18h - 19h ( Honfleur salle Carnot ) </td>
		  <td>_</td>
		  <td>_</td>
		</tr>
		<tr>
		  <td> ados </td>
		  <td>_</td>
		  <td>_</td>
		  <td> 18h - 19h ( St gatien ) </td>
		</tr>
		<tr>
		  <td> Adulte débutant </td>
		  <td>_</td>
		  <td> 19h30 - 20h30 ( St Gatien ) </td>
		  <td>_</td>
		</tr>
		<tr>
		  <td> Adulte intermédiaire </td>
		  <td>_</td>
		  <td>18h15 - 19h15 ( St Gatien ) </td>
		  <td> 18h - 19h15 ( St Gatien ) </td>
		</tr>
	  </tbody>
	</table>
  </div>
  