p {
  margin: 0;
}

.main-wrapper {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
  margin: 40px;
  margin-bottom: 100px;
  padding: 20px;
}

.table-container {
  overflow-x: auto;
  white-space: nowrap;
}

table {
  display: inline-block;
  overflow: auto;
  border-spacing: 10px 10px;
  border-collapse: separate;
}

th,
td {
  min-width: 12vw;
  height: 30px;
  padding: 8px;
}

.sub-header {
  th {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
  }
}

tr {
  td {
    text-align: center;
    color: black;

    border-radius: 5px;
    line-height: 1.4;

    :nth-child(2) {
      font-weight: bold;
    }
  }

  .prof1 {
    background-color: #8ddbe8;
  }
  .prof2 {
    background-color: #86b499;
  }
  .prof3 {
    background-color: #f5aeb3;
  }
}

/* tr:hover {
    background-color: #f2f2f2;
  } */
th {
  font-weight: bold;
  text-decoration: underline;
  line-height: 1.4;
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 30px;
  font-family: "Benedict";
}

.teacher-container {
  display: flex;
  justify-content: space-evenly;

  > div {
    display: flex;

    .svg-box {
      margin-right: 10px;
      display: flex;
      svg {
        margin: auto;
      }
    }
  }
}
